[Unit]
Description=AdGuard Home Exporter
After=network.target

[Service]
User=root
# Configuración para la versión HenryWhitaker3
# CAMBIAR ESTOS VALORES POR LOS TUYOS
Environment="ADGUARD_SERVERS=http://127.0.0.1"
Environment="ADGUARD_USERNAMES=TU_USUARIO"
Environment="ADGUARD_PASSWORDS=TU_CONTRASEÑA"
Environment="INTERVAL=10s"
Environment="LOG_LIMIT=10000"

ExecStart=/home/pi/adguard-exporter
Restart=always

[Install]
WantedBy=multi-user.target
